<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="GUI_QuanLyCafe.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="GUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<connectionStrings>
		<add name="Data" connectionString="Data source=CHIBAO\SQLEXPRESS;Initial Catalog=QL_Cafe;Integrated Security=True" />
		<add name="GUI_QLCafe.Properties.Settings.QL_CAFEConnectionString" connectionString="Data Source=DESKTOP-QIE438C\MAYAO;Initial Catalog=QL_CAFE;Integrated Security=True;Encrypt=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<userSettings>
		<GUI_QuanLyCafe.Properties.Settings>
   <setting name="SavedEmail" serializeAs="String">
    <value />
   </setting>
   <setting name="RememberEmail" serializeAs="String">
    <value>False</value>
   </setting>
  </GUI_QuanLyCafe.Properties.Settings>
  <GUI.Properties.Settings>
			<setting name="SavedEmail" serializeAs="String">
				<value />
			</setting>
			<setting name="RememberEmail" serializeAs="String">
				<value>False</value>
			</setting>
		</GUI.Properties.Settings>
	</userSettings>
</configuration>